@model IEnumerable<EmployeeViewModel>
<table class="mt-4 table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(D => D.Image)</th>
            <th>@Html.DisplayNameFor(D => D.Name)</th>
            <th>@Html.DisplayNameFor(D => D.Age)</th>
            <th>@Html.DisplayNameFor(D => D.Department)</th>
            <th>@Html.DisplayNameFor(D => D.Email)</th>
            <th>@Html.DisplayNameFor(D => D.Salary)</th>
            <th>@Html.DisplayNameFor(D => D.IsActive)</th>
            <th>@Html.DisplayNameFor(D => D.EmployeeGender)</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var @emp in Model)
        {
            <tr>
                <td>
                    <img src="~/files/images/@emp.ImageName" width="75" class="img-fluid rounded-circle" />
                </td>
                <td>@emp.Name</td>
                <td>@emp.Age</td>
                <td>@emp.Department?.Name</td>
                <td>@Html.DisplayFor(M => @emp.Email)</td>
                <td>@Html.DisplayFor(M => @emp.Salary)</td>
                <td>@Html.DisplayFor(M => @emp.IsActive)</td>
                <td>@emp.EmployeeGender</td>
                <partial name="_ButtonsPartial" model="@emp.Id.ToString()" />

            </tr>
        }
    </tbody>
</table>
